# Домашнє завдання: ETL-пайплайни для аналітиків даних

Це ДЗ передбачене під виконання на локальній машині. Виконання з Google Colab буде суттєво ускладнене.

## Підготовка
1. Переконайтесь, що у вас встановлены необхідні бібліотеки:
   ```bash
   pip install sqlalchemy pymysql pandas matplotlib seaborn python-dotenv
   ```

2. Створіть файл `.env` з параметрами підключення до бази даних classicmodels. Базу даних ви можете отримати через

  - docker-контейнер згідно існтрукції в [документі](https://www.notion.so/hannapylieva/Docker-1eb94835849480c9b2e7f5dc22ee4df9), також відео інструкції присутні на платформі - уроки "MySQL бази, клієнт для роботи з БД, Docker і ChatGPT для запитів" та "Як встановити Docker для роботи з базами даних без терміналу"
  - або встановивши локально цю БД - для цього перегляньте урок "Опціонально. Встановлення MySQL та  БД Сlassicmodels локально".
  
  Приклад `.env` файлу ми створювали в лекції. Ось його обовʼязкове наповнення:
    ```
    DB_HOST=your_host
    DB_PORT=3306 або 3307 - той, який Ви налаштували
    DB_USER=your_username
    DB_PASSWORD=your_password
    DB_NAME=classicmodels
    ```
  Якщо ви створили цей файл під час перегляду лекції - **новий створювати не треба**. Замініть лише назву БД, або пропишіть назву в коді створення підключення (замість отримання назви цільової БД зі змінних оточення). Але переконайтесь, що до `.env` файл лежить в тій самій папці, що і цей ноутбук.

  **УВАГА!** НЕ копіюйте скрит для **створення** `.env` файлу. В лекції він наводиться для прикладу. І давалось пояснення, що в реальних проєктах ми НІКОЛИ не пишемо доступи до бази в коді. Копіювання скрипта для створення `.env` файлу сюди в ДЗ буде вважатись грубою помилкою і ми зніматимемо бали.

3. Налаштуйте підключення через SQLAlchemy до БД за прикладом в лекції.

Рекомендую вивести (відобразити) змінну engine після створення. Вона має бути не None! Якщо None - значить у Вас не підтягнулись налаштування з .env файла.

Ви також можете налаштувати параметри підключення до БД без .env файла, просто прописавши текстом в відповідних місцях. Це - не рекомендований підхід.

In [1]:
!pip install pandas numpy sqlalchemy pymysql cryptography openpyxl requests matplotlib seaborn python-dotenv --quiet

In [2]:
import datetime
import requests
import json
import os

from dotenv import load_dotenv
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import create_engine, text, MetaData, Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError

In [3]:
def create_connection():
    """
    Створює підключення через SQLAlchemy
    """
    load_dotenv()

    host = os.getenv('DB_HOST', 'localhost')
    port = os.getenv('DB_PORT', '3306')
    user = os.getenv('DB_USER')
    password = os.getenv('DB_PASSWORD')
    database = os.getenv('DB_NAME')

    if not all([user, password, database]):
        raise ValueError("Не всі параметри БД задані в .env файлі!")

    connection_string = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

    engine = create_engine(
        connection_string,
        pool_size=2,   
        max_overflow=20,       
        pool_pre_ping=True,     
        echo=False            
    )

    try:
        with engine.connect() as conn:
            result = conn.execute(text("SELECT 1"))
            result.fetchone()
        return engine

    except Exception as e:
        print(f"❌ Помилка підключення: {e}")
        return None

engine = create_connection()
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306/classicmodels)

### Завдання 1: Створення таблиці курсів валют та API інтеграція (2 бали)

**Повторіть процедуру з лекції:** створіть таблицю для курсів валют, але вже в цій базі даних. Результатом має бути нова таблиця з курсами валют USD, EUR, UAH в БД (можна завантажити більше валют). Продемонструйте, що таблиця була додана, використовуючи SELECT.

Тобто тут ви можете прямо скопіювати код з лекції, внести необхідні зміни і запустити. Головне - отримати таблицю в БД classicmodels.

In [4]:
# Створюємо таблицю для курсів валют (сучасний спосіб)
def create_currency_table(engine):
    """Створює таблицю через SQLAlchemy"""

    create_table_sql = text("""
    CREATE TABLE IF NOT EXISTS currency_rates (
        id INT AUTO_INCREMENT PRIMARY KEY,
        currency_code VARCHAR(3) NOT NULL,
        rate_to_usd DECIMAL(10, 6) NOT NULL,
        rate_date DATE NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
        INDEX idx_currency_date (currency_code, rate_date),
        UNIQUE KEY unique_currency_date (currency_code, rate_date)
    )
    """)

    with engine.connect() as conn:
        conn.execute(create_table_sql)

    print("✅ Таблиця currency_rates створена")

def fetch_exchange_rates():
    """Отримує курси валют з API"""
    try:
        # Безкоштовний API курсів валют
        url = "https://api.exchangerate-api.com/v4/latest/USD"
        response = requests.get(url, timeout=10)
        response.raise_for_status()

        data = response.json()

        # Валюти що нас цікавлять
        currencies = ['USD', 'EUR', 'UAH', 'PLN']
        rates = {}

        for currency in currencies:
            if currency in data['rates']:
                # Зберігаємо курс до USD (скільки одиниць валюти за 1 USD)
                rates[currency] = data['rates'][currency]

        return rates, datetime.date.today()

    except Exception as e:
        print(f"❌ Помилка API: {e}")
        return None, None

def save_exchange_rates(engine, rates_dict, rate_date):
    """Зберігає курси в БД з обробкою конфліктів"""

    if not rates_dict:
        print("❌ Немає даних для збереження")
        return False

    # SQL з ON DUPLICATE KEY UPDATE для MySQL
    insert_sql = text("""
    INSERT INTO currency_rates (currency_code, rate_to_usd, rate_date)
    VALUES (:currency, :rate, :date)
    ON DUPLICATE KEY UPDATE
        rate_to_usd = VALUES(rate_to_usd),
        updated_at = CURRENT_TIMESTAMP
    """)

    try:
        with engine.connect() as conn:
            with conn.begin():  # Транзакція для всіх вставок
                for currency, rate in rates_dict.items():
                    conn.execute(insert_sql, {
                        'currency': currency,
                        'rate': rate,
                        'date': rate_date
                    })

        print(f"✅ Збережено {len(rates_dict)} курсів валют на {rate_date}")
        return True

    except Exception as e:
        print(f"❌ Помилка збереження: {e}")
        return False

In [5]:
# Виконуємо повний цикл API → БД
create_currency_table(engine)

print("📡 Отримуємо курси валют...")
rates, date = fetch_exchange_rates()

if rates:
    print(f"Отримані курси на {date}:")
    for currency, rate in rates.items():
        print(f"  1 USD = {rate:.4f} {currency}")

    # Зберігаємо в БД
    if save_exchange_rates(engine, rates, date):
        # Перевіряємо збережені дані
        verification_df = pd.read_sql(
            "SELECT * FROM currency_rates ORDER BY created_at DESC LIMIT 10",
            engine
        )
        print("\nЗбережені дані:")
        display(verification_df)

✅ Таблиця currency_rates створена
📡 Отримуємо курси валют...
Отримані курси на 2025-08-10:
  1 USD = 1.0000 USD
  1 USD = 0.8590 EUR
  1 USD = 41.4300 UAH
  1 USD = 3.6500 PLN
✅ Збережено 4 курсів валют на 2025-08-10

Збережені дані:

,id,currency_code,rate_to_usd,rate_date,created_at,updated_at
0,1,USD,1.000,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:29
1,2,EUR,0.859,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:29
2,3,UAH,41.430,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:29
3,4,PLN,3.650,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:29

In [6]:
print("📡 Отримуємо курси валют...")
rates, date = fetch_exchange_rates()

if rates:
    print(f"Отримані курси на {date}:")
    for currency, rate in rates.items():
        print(f"  1 USD = {rate:.4f} {currency}")

    # Зберігаємо в БД
    if save_exchange_rates(engine, rates, date):
        # Перевіряємо збережені дані
        verification_df = pd.read_sql(
            "SELECT * FROM currency_rates ORDER BY created_at DESC LIMIT 10",
            engine
        )
        print("\nЗбережені дані:")
        display(verification_df)

📡 Отримуємо курси валют...
Отримані курси на 2025-08-10:
  1 USD = 1.0000 USD
  1 USD = 0.8590 EUR
  1 USD = 41.4300 UAH
  1 USD = 3.6500 PLN
✅ Збережено 4 курсів валют на 2025-08-10

Збережені дані:

,id,currency_code,rate_to_usd,rate_date,created_at,updated_at
0,1,USD,1.000,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:32
1,2,EUR,0.859,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:32
2,3,UAH,41.430,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:32
3,4,PLN,3.650,2025-08-10,2025-08-10 20:13:26,2025-08-10 20:52:32

# Завдання 2: Створення простого ETL пайплайну (7 балів)

В цьому завданні ми створимо повноцінний ETL процес для аналізу продажів ClassicModels.

Завдання обʼємне і оцінюється відповідно. Ви можете пропустити обчислення якихось з метрик, якщо відчуєте, що вже немає сил робити це завдання. Бал буде виставлено виходячи з виконаного обʼєму та його правильності.

## Що саме треба зробити:

### Extract (Витягування даних):
На цьому етапі треба витягнути дані з БД в pandas.DataFrame для подальшої обробки.
Які дані нам потрібні (кожен пункт - в окремий фрейм даних):
1. **дані про виконані замовлення за 2004 рік** - з'єднати таблиці orders, orderdetails, products, customers
2. **дані про продукти** - назви, категорії, ціни
3. **дані про курси валют** - використати дані з попереднього завдання

### Transform (Обробка даних):

#### 2.1 Додати розрахункові колонки до основної таблиці:
Додайте до DataFrame з продажами такі нові колонки:

- **`profit_per_item`** - прибуток з одного товару (використайте колонки: `priceEach` - `buyPrice`)
- **`total_profit`** - загальний прибуток з товарної позиції (використайте колонки: `profit_per_item` × `quantityOrdered`)
- **`total_amount_eur`** - сума в євро (використайте колонки: `total_amount` / `eur_rate`)

#### 2.2 Створити аналітичну таблицю по країнах (ТОП-5):
Згрупуйте дані по колонці **`country`** та обчисліть для кожної країни:

**Метрики для розрахунку:**
- **Кількість унікальних замовлень** - унікальні значення колонки `orderNumber`
- **Загальний дохід** - сума колонки `total_amount`
- **Загальний прибуток** - сума колонки `total_profit`
- **Кількість проданих товарів** - сума колонки `quantityOrdered`
- **Маржа прибутку (%)** - (`загальний прибуток` / `загальний дохід`) × 100

**Результат:** Таблиця з 5 найприбутковіших країн, відсортована за загальним доходом (від більшого до меншого).

#### 2.3 Створити аналітичну таблицю по продуктових лініях:
Згрупуйте дані по колонці **`productLine`** та обчисліть ті ж метрики:

**Метрики для розрахунку:**
- **Кількість унікальних замовлень** - унікальні значення колонки `orderNumber`
- **Загальний дохід** - сума колонки `total_amount`
- **Загальний прибуток** - сума колонки `total_profit`
- **Кількість проданих товарів** - сума колонки `quantityOrdered`
- **Маржа прибутку (%)** - (`загальний прибуток` / `загальний дохід`) × 100

**Результат:** Таблиця з усіма продуктовими лініями, відсортована за загальним доходом.

#### 2.4 Створити підсумкову інформацію (Executive Summary):
Розрахуйте загальні показники бізнесу за 2004 рік:

**Фінансові показники:**
- **Загальний дохід в доларах** - сума всієї колонки `total_amount`
- **Загальний дохід в євро** - сума всієї колонки `total_amount_eur`
- **Загальний прибуток в доларах** - сума всієї колонки `total_profit`
- **Загальна маржа прибутку (%)** - (`загальний прибуток` / `загальний дохід`) × 100
- **Середній розмір замовлення** - середнє значення колонки `total_amount`

**Операційні показники:**
- **Кількість унікальних замовлень** - унікальні значення колонки `orderNumber`
- **Кількість унікальних клієнтів** - унікальні значення колонки `customerName`
- **Період даних** - мінімальна та максимальна дата з колонки `orderDate`

**Топ показники:**
- **Найприбутковіша країна** - перший рядок з таблиці країн (колонка `country`)
- **Найприбутковіша продуктова лінія** - перший рядок з таблиці продуктів (колонка `productLine`)

### Load (Збереження результатів):
В цій частині ми зберігаємо результати наших обчислень.
Використайте приклади коду з лекцій та адаптуйте його під цей ETL процес.
Що Вам потрібно створити:

#### 3.1 Excel файл з трьома вкладками:
- **"Summary"** - підсумкова інформація у вигляді таблиці "Показник - Значення"
- **"Top_Countries"** - аналітика по топ-5 країнах
- **"Product_Lines"** - аналітика по всіх продуктових лініях

#### 3.2 Візуалізація:
- Створіть стовпчикову діаграму топ-5 країн за доходом.
- Створіть pie chart з відсотковим розподілом доходу в USD по продуктових лінійках.

## РЕКОМЕНДАЦІЇ ДО ВИКОНАННЯ:

### Покрокова стратегія виконання:
1. Спочатку протестуйте Extract просто в Jupyter notebook (без фукнції) - переконайтеся що SQL запит працює і повертає дані за 2004 рік
2. Потім протестуйте кожен Transform окремо - виведіть проміжні результати
3. Нарешті протестуйте Load - перевірте що файли створюються правильно  
4. Тільки після цього обгортайте все в функцію

### Як перевірити що все працює:
- Виводьте на екран, який етап зараз відбувається
- Виведіть кількість записів після кожного кроку
- Покажіть перші 5 рядків кожної аналітичної таблиці
- Перевірте що дати належать 2004 року
- Переконайтеся що маржа прибутку в розумних межах (0-50%)

In [7]:
def load_latest_currency_rates(engine):
    """
    Завантажує останні курси валют із таблиці currency_rates
    (останній по даті запис для кожної валюти)
    """
    query = text("""
        SELECT cr.currency_code, cr.rate_to_usd, cr.rate_date
        FROM currency_rates cr
        INNER JOIN (
            SELECT currency_code, MAX(rate_date) as max_date
            FROM currency_rates
            GROUP BY currency_code
        ) latest ON cr.currency_code = latest.currency_code AND cr.rate_date = latest.max_date
    """)
    
    df_currency = pd.read_sql(query, engine)
    print("Завантажено курси валют:")
    print(df_currency)
    return df_currency

df_currency = load_latest_currency_rates(engine)

Завантажено курси валют:
  currency_code  rate_to_usd   rate_date
0           USD        1.000  2025-08-10
1           EUR        0.859  2025-08-10
2           UAH       41.430  2025-08-10
3           PLN        3.650  2025-08-10

In [8]:
#1 Extract 
query_orders = """
SELECT 
    o.orderNumber,
    o.orderDate,
    o.customerNumber,
    c.customerName,
    c.country,
    od.productCode,
    p.productName,
    p.productLine,
    p.buyPrice,
    od.quantityOrdered,
    od.priceEach
FROM orders o
JOIN orderdetails od ON o.orderNumber = od.orderNumber
JOIN products p ON od.productCode = p.productCode
JOIN customers c ON o.customerNumber = c.customerNumber
WHERE YEAR(o.orderDate) = 2004
"""

# Витягуємо дані в DataFrame
df_orders = pd.read_sql(query_orders, engine)
df_orders.head(5)

,orderNumber,orderDate,customerNumber,customerName,country,productCode,productName,productLine,buyPrice,quantityOrdered,priceEach
0,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S12_1108,2001 Ferrari Enzo,Classic Cars,95.59,46,176.63
1,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S12_3148,1969 Corvair Monza,Classic Cars,89.14,26,128.42
2,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S12_3891,1969 Ford Falcon,Classic Cars,83.05,20,152.26
3,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S18_3140,1903 Ford Model A,Vintage Cars,68.30,24,117.47
4,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S18_3259,Collectable Wooden Train,Trains,67.56,48,96.81

In [12]:
# 2.1 Додати розрахункові колонки до основної таблиці:
def transform_sales_data(df_orders, df_currency):
    # Додаємо колонки прибутку та суми
    df_orders['profit_per_item'] = df_orders['priceEach'] - df_orders['buyPrice']
    df_orders['total_profit'] = df_orders['profit_per_item'] * df_orders['quantityOrdered']
    df_orders['total_amount'] = df_orders['priceEach'] * df_orders['quantityOrdered']
    
    # Знаходимо курс EUR до USD (EUR у df_currency з rate_to_usd)
    eur_rate_row = df_currency[df_currency['currency_code'] == 'EUR']
    if eur_rate_row.empty:
        raise ValueError("Курс EUR не знайдено в df_currency")
    eur_rate = eur_rate_row['rate_to_usd'].values[0]
    
    # Конвертуємо total_amount в EUR
    df_orders['total_amount_eur'] = df_orders['total_amount'] / eur_rate
    
    print("Додані колонки: profit_per_item, total_profit, total_amount, total_amount_eur")
    print(df_orders[['profit_per_item', 'total_profit', 'total_amount', 'total_amount_eur']].head())
    return df_orders

df_orders = transform_sales_data(df_orders, df_currency)
df_orders.head(5)

Додані колонки: profit_per_item, total_profit, total_amount, total_amount_eur
   profit_per_item  total_profit  total_amount  total_amount_eur
0            81.04       3727.84       8124.98       9458.649593
1            39.28       1021.28       3338.92       3886.984866
2            69.21       1384.20       3045.20       3545.052386
3            49.17       1180.08       2819.28       3282.048894
4            29.25       1404.00       4646.88       5409.639115

,orderNumber,orderDate,customerNumber,customerName,country,productCode,productName,productLine,buyPrice,quantityOrdered,priceEach,profit_per_item,total_profit,total_amount,total_amount_eur
0,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S12_1108,2001 Ferrari Enzo,Classic Cars,95.59,46,176.63,81.04,3727.84,8124.98,9458.649593
1,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S12_3148,1969 Corvair Monza,Classic Cars,89.14,26,128.42,39.28,1021.28,3338.92,3886.984866
2,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S12_3891,1969 Ford Falcon,Classic Cars,83.05,20,152.26,69.21,1384.20,3045.20,3545.052386
3,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S18_3140,1903 Ford Model A,Vintage Cars,68.30,24,117.47,49.17,1180.08,2819.28,3282.048894
4,10208,2004-01-02,146,"Saveley & Henriot, Co.",France,S18_3259,Collectable Wooden Train,Trains,67.56,48,96.81,29.25,1404.00,4646.88,5409.639115

In [13]:
#2.2 Аналітична таблиця по країнах (ТОП-5):
def top_countries_analysis(df_orders, top_n=5):
    grouped = df_orders.groupby('country').agg(
        unique_orders = ('orderNumber', 'nunique'),
        total_revenue = ('total_amount', 'sum'),
        total_profit = ('total_profit', 'sum'),
        total_quantity = ('quantityOrdered', 'sum')
    ).reset_index()

    grouped['profit_margin_percent'] = (grouped['total_profit'] / grouped['total_revenue']) * 100

    # Сортуємо за доходом та беремо топ-N
    top_countries = grouped.sort_values(by='total_revenue', ascending=False).head(top_n)
    
    print(f"ТОП-{top_n} країн за доходом:")
    print(top_countries)
    return top_countries

top_5_countries

NameError: name 'top_5_countries' is not defined