#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [24]:
import pandas as pd

In [25]:
data_path = "./data/supermarket_sales.csv"
df = pd.read_csv(data_path)
df.head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [26]:
branch_profit = df.groupby('Branch')['gross income'].sum().reset_index(name='Total Profit')
branch_profit_sorted = branch_profit.sort_values(by='Total Profit', ascending=False)
print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º:\n{branch_profit_sorted.head(1)}")

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º:
  Branch  Total Profit
2      C     5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [27]:
city_of_branch = df[
    df['Branch'] == branch_profit_sorted.iloc[0]['Branch']
]['City'].unique()[0]
print(f"–ú—ñ—Å—Ç–æ, –¥–µ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª '{branch_profit_sorted.iloc[0]['Branch']}': {city_of_branch}")

–ú—ñ—Å—Ç–æ, –¥–µ –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª 'C': Naypyitaw

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [28]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count', fill_value=0)
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [29]:
max_invoices_count = invoices_by_category['Electronic accessories'].max()
print(f"–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: {max_invoices_count}")

–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤: 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

### –ü–∏—Ç–∞–Ω–Ω—è (–ì—ñ–ø–æ—Ç–µ–∑–∏)
##### –ü–∏—Ç–∞–Ω–Ω—è 1
###### –ß–∏ –≤—ñ–¥—Ä—ñ–∑–Ω—è—î—Ç—å—Å—è —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ –≤—ñ–¥ –Ω–æ–≤–∏—Ö —É —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö?
###### –ì—ñ–ø–æ—Ç–µ–∑–∞: –£ –¥–µ—è–∫–∏—Ö –º—ñ—Å—Ç–∞—Ö –ª–æ—è–ª—å–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –∑–Ω–∞—á–Ω–æ –±—ñ–ª—å—à–µ, –Ω—ñ–∂ –Ω–æ–≤—ñ.
##### –ü–∏—Ç–∞–Ω–Ω—è 2
###### –Ø–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è —Ç–æ–≤–∞—Ä—ñ–≤ –º–∞—î –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ —É –≤–µ—á—ñ—Ä–Ω—ñ –≥–æ–¥–∏–Ω–∏ (–ø—ñ—Å–ª—è 18:00) —É —Ñ—ñ–ª—ñ—ó B?
###### –ì—ñ–ø–æ—Ç–µ–∑–∞: –£ –≤–µ—á—ñ—Ä–Ω—ñ–π —á–∞—Å –ø–æ–ø–∏—Ç –º–æ–∂–µ –∑—Å—É–≤–∞—Ç–∏—Å—å –Ω–∞ –ø–µ–≤–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó ‚Äî —Ü–µ –º–æ–∂–Ω–∞ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –¥–ª—è —Ç–∞—Ä–≥–µ—Ç–æ–≤–∞–Ω–∏—Ö –ø—Ä–æ–º–æ–∞–∫—Ü—ñ–π.
##### –ü–∏—Ç–∞–Ω–Ω—è 3
###### –Ø–∫–∞ –≥—Ä—É–ø–∞ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (–∑–∞ —Å—Ç–∞—Ç—Ç—é —Ç–∞ —Ç–∏–ø–æ–º) –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∫—É–ø—É—î –≤–µ–ª–∏–∫—ñ –æ–±—Å—è–≥–∏ (–∫—ñ–ª—å–∫—ñ—Å—Ç—å —Ç–æ–≤–∞—Ä—ñ–≤ > —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ) —É –≤–∏—Ö—ñ–¥–Ω—ñ –¥–Ω—ñ?
###### –ì—ñ–ø–æ—Ç–µ–∑–∞: –ú–æ–∂–ª–∏–≤–æ, —ñ—Å–Ω—É—î —Å–µ–≥–º–µ–Ω—Ç –∫–ª—ñ—î–Ω—Ç—ñ–≤, —è–∫–∏–π —Ä–æ–±–∏—Ç—å ¬´–æ–ø—Ç–æ–≤—ñ¬ª –ø–æ–∫—É–ø–∫–∏ —Å–∞–º–µ —É –≤–∏—Ö—ñ–¥–Ω—ñ.

### –í—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ –ü–∏—Ç–∞–Ω–Ω—è (–ì—ñ–ø–æ—Ç–µ–∑–∏):

In [30]:
# –í—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ –ü–∏—Ç–∞–Ω–Ω—è 1
avg_total = df.groupby(['City', 'Customer type'])['Total'].mean().reset_index()
avg_total

        City Customer type       Total
0   Mandalay        Member  325.482945
1   Mandalay        Normal  314.329257
2  Naypyitaw        Member  336.575636
3  Naypyitaw        Normal  337.656755
4     Yangon        Member  321.182488
5     Yangon        Normal  303.831763

In [31]:
# –í—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ –ü–∏—Ç–∞–Ω–Ω—è 2
df['Hour'] = pd.to_datetime(df['Time'], format="%H:%M").dt.hour
evening_branch_b = df[(df['Hour'] >= 18) & (df['Branch'] == 'B')]
profit_by_product = (evening_branch_b.groupby('Product line')['gross income'].mean().reset_index().sort_values(by='gross income', ascending=False))
profit_by_product

             Product line  gross income
5       Sports and travel     17.592967
4      Home and lifestyle     17.303321
3       Health and beauty     16.057727
0  Electronic accessories     15.942783
1     Fashion accessories     11.318500
2      Food and beverages     10.702316

In [32]:
# –í—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ –ü–∏—Ç–∞–Ω–Ω—è 3
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].dt.dayofweek
weekends = df[df['Weekday'] >= 5]
mean_quantity = df['Quantity'].mean()
group = weekends[weekends['Quantity'] > mean_quantity]
result = group.groupby(['Gender', 'Customer type'])['Invoice ID'].count().reset_index(name='Count')
result

   Gender Customer type  Count
0  Female        Member     43
1  Female        Normal     42
2    Male        Member     39
3    Male        Normal     33

### –í—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ –ü–∏—Ç–∞–Ω–Ω—è (–ì—ñ–ø–æ—Ç–µ–∑–∏) –ø–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º –≤–∏–∫–æ–Ω–∞–Ω–Ω—è –∫–æ–¥—É. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É
##### –ü–∏—Ç–∞–Ω–Ω—è 1
###### –£ Mandalay —Ç–∞ Yangon –ø–æ—Å—Ç—ñ–π–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ, –Ω—ñ–∂ –Ω–æ–≤—ñ. –¢–æ–º—É –≤–∞—Ä—Ç–æ –¥–ª—è —Ü–∏—Ö –º—ñ—Å—Ç –ø—ñ–¥—Ç—Ä–∏–º—É–≤–∞—Ç–∏ —Ç–∞ —Ä–æ–∑–≤–∏–≤–∞—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ.
###### –£ Naypyitaw –≤–∞—Ä—Ç–æ –ø–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Å—Ç—Ä–∞—Ç–µ–≥—ñ—é –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ; –∑'—è—Å—É–≤–∞—Ç–∏, —á–æ–º—É –Ω–æ–≤—ñ –∫–ª—ñ—î–Ω—Ç–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ: –º–æ–∂–ª–∏–≤–æ, –ø–æ—Ç—Ä—ñ–±–µ–Ω –æ–∫—Ä–µ–º–∏–π welcome-–±–æ–Ω—É—Å, –∞ –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Å—Ç–∏–º—É–ª—é–≤–∞—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤–∏–º–∏–∏ —Å–µ—Ä–≤—ñ—Å–∞–º–∏, —Ç–æ–≤–∞—Ä–∞–º–∏.

##### –ü–∏—Ç–∞–Ω–Ω—è 2
###### –ó–æ—Å–µ—Ä–µ–¥–∏—Ç–∏ –≤–µ—á—ñ—Ä–Ω—ñ –ø—Ä–æ–º–æ–∞–∫—Ü—ñ—ó —Ç–∞ –∞–∫—Ç–∏–≤–∞—Ü—ñ—ó —Å–∞–º–µ –Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö Sports and Travel, Home and Lifestyle —Ç–∞ Health and beauty —É —Ñ—ñ–ª—ñ—ó –í, —è–∫—ñ –º–∞—é—Ç—å –Ω–∞–π–≤–∏—â–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ —É –≤–µ—á—ñ—Ä–Ω—ñ –≥–æ–¥–∏–Ω–∏. –£ –≥–æ–¥–∏–Ω–∏ –ø—ñ–∫ (18:00) –≤–∏—Å—Ç–∞–≤–ª—è—Ç–∏ —Ü—ñ —Ç–æ–≤–∞—Ä–∏ —É –Ω–∞–π–±—ñ–ª—å—à –≤–∏–¥–∏–º–∏—Ö –∑–æ–Ω–∞—Ö –º–∞–≥–∞–∑–∏–Ω—É.
###### –î–ª—è –∫–∞—Ç–µ–≥–æ—Ä—ñ–π —ñ–∑ –Ω–∞–π–º–µ–Ω—à–æ—é –≤–µ—á—ñ—Ä–Ω–µ—é –º–∞—Ä–∂–µ—é –º–æ–∂–Ω–∞ —Å–ø—Ä–æ–±—É–≤–∞—Ç–∏ –∑–Ω–∏–∂–∫–∏ –∞–±–æ –∫—Ä–æ—Å—Å-–ø—Ä–æ–¥–∞–∂ —É –∫–æ–º–±—ñ–Ω–∞—Ü—ñ—ó –∑ —Ç–æ–ø–æ–≤–∏–º–∏ —Ç–æ–≤–∞—Ä–∞–º–∏, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫.

##### –ü–∏—Ç–∞–Ω–Ω—è 3
###### –ù–∞–π—á–∞—Å—Ç—ñ—à–µ –≤–µ–ª–∏–∫—ñ –ø–æ–∫—É–ø–∫–∏ —É –≤–∏—Ö—ñ–¥–Ω—ñ —Ä–æ–±–ª—è—Ç—å –∂—ñ–Ω–∫–∏-–ø–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ —Ç–∞ –∂—ñ–Ω–∫–∏-–Ω–æ–≤—ñ –∫–ª—ñ—î–Ω—Ç–∏ (2 –º—ñ—Å—Ü–µ).
###### –°—Ç–≤–æ—Ä–∏—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ ¬´–≤–∏—Ö—ñ–¥–Ω—ñ –ø–∞–∫–µ—Ç–∏¬ª —á–∏ –Ω–∞–±–æ—Ä–∏ –¥–ª—è –∂—ñ–Ω–æ–∫ (–æ—Å–æ–±–ª–∏–≤–æ –¥–ª—è –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–æ–∫) ‚Äî —Ü–µ –≥–æ–ª–æ–≤–Ω–∞ –∞—É–¥–∏—Ç–æ—Ä—ñ—è –≤–µ–ª–∏–∫–∏—Ö —á–µ–∫—ñ–≤ —É —Å—É–±–æ—Ç—É-–Ω–µ–¥—ñ–ª—é. –î–ª—è –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç–æ–∫ –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –¥–æ–¥–∞—Ç–∫–æ–≤—ñ –±–æ–Ω—É—Å–∏ –∑–∞ –≤–µ–ª–∏–∫—ñ –ø–æ–∫—É–ø–∫–∏ —É –≤–∏—Ö—ñ–¥–Ω—ñ ‚Äî –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –∫–µ—à–±–µ–∫, –ø–æ–¥–∞—Ä—É–Ω–∫–æ–≤—ñ —Ç–æ–≤–∞—Ä–∏ —á–∏ —Å–µ—Ä—Ç–∏—Ñ—ñ–∫–∞—Ç–∏.
###### –î–ª—è –∂—ñ–Ω–æ–∫-–Ω–æ–≤–∏—Ö –∫–ª—ñ—î–Ω—Ç–æ–∫, —è–∫—ñ —Ç–µ–∂ –∞–∫—Ç–∏–≤–Ω–æ —Ä–æ–±–ª—è—Ç—å –≤–µ–ª–∏–∫—ñ –∑–∞–∫—É–ø–∏, –∑–∞–ø—É—Å—Ç–∏—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ, —â–æ–± –ø–µ—Ä–µ–≤–µ—Å—Ç–∏ —ó—Ö —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—é Member.
###### –î–ª—è —á–æ–ª–æ–≤—ñ–∫—ñ–≤ ‚Äî –ø—Ä–æ—Ç–µ—Å—Ç—É–≤–∞—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –∞–±–æ –∫–æ–º–±–æ-–Ω–∞–±–æ—Ä–∏, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —ó—Ö –æ–±—Å—è–≥ –ø–æ–∫—É–ø–æ–∫.
###### –ù–∞–ª–∞—à—Ç—É–≤–∞—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ —Ä–æ–∑—Å–∏–ª–∫–∏ —á–∏ push-–ø–æ–≤—ñ–¥–æ–º–ª–µ–Ω–Ω—è —É –ø‚Äô—è—Ç–Ω–∏—Ü—é ‚Äî –º–æ—Ç–∏–≤—É–≤–∞—Ç–∏ –ø—Ä–∏–π—Ç–∏ –Ω–∞ ¬´–≤–µ–ª–∏–∫—ñ –≤–∏—Ö—ñ–¥–Ω—ñ –∑–∞–∫—É–ø–∏¬ª.